<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-video-camera wow bounceIn text-primary"></i>
                    <h3>Subtitling</h3>
                    <p class="text-muted"> I provide English into Spanish and Catalan subtitles for films, series, documentaries, etc.</p>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-film wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>SDH</h3>
                    <p class="text-muted">English into Spanish and Catalan subtitles for the Deaf and the Hard of Hearing.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Game Localisation</h3>
                    <p class="text-muted">English into Spanish and Catalan game and video game localisation.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Web Localisation</h3>
                    <p class="text-muted">English into Spanish and Catalan website localisation.</p>
                </div>
            </div>
           
        </div>
    </div>
</section>
